@font-face {
	font-family: "JF Flat Regular";
	src: url(../fonts/JF-Flat-regular.eot);
	src: url(../fonts/JF-Flat-regular.eot?#iefix) format('embedded-opentype'), url('../fonts/JF-Flat-regular.svg#JF Flat Regular') format('svg'), url(../fonts/JF-Flat-regular.woff) format('woff'), url(../fonts/JF-Flat-regular.ttf) format('truetype');
	font-weight: 400;
	font-style: normal
}

body {
	font-family: "JF Flat Regular", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 14px;
	color: #555555;
	line-height: 1.42857143;
}

.custom-navbar{
    border-bottom: 3px solid #EEF0EA;
    width: 100%;
    background-color: #fff;
    padding-top: 15px;
	padding-bottom: 15px;
}

.custom-navbar .container{
    padding: 0;
}

.custom-navbar .container .navbar-brand {
    margin-left: 30px;
	margin-top: 4px;
}



.custom-navbar .custom-form-control:focus{
    border-color: #C2101E;
	box-shadow: 0 0 2px 0 #C2101E;
}

.categories .nav-link{
    padding: 6px 13px 6px;
    border-right: 0;
	border-radius: 0;
}

.custom-dropdown-menu{
    box-shadow: 0 2px 5px 0 #EBEBEB;
    border-radius: 2px;
    color: #777;
}

.custom-dropdown-menu .checkbox{
    margin: 0 5px;
    display: inline-block;
}

.custom-dropdown-menu .checkbox label input{
    margin-left: 5px;
}

.custom-navbar .custom-btn-primary{
    background-color: #FF3956;
    border-color: #FF3956;
    color: #fff;
    padding: 5px 20px 6px 20px;
    border-radius: 0;
    font-size: 14px;
    font-weight: 700;
}

.custom-navbar .custom-btn-primary:hover,
.custom-navbar .custom-btn-primary:active,
.custom-navbar .custom-btn-primary:focus,
.custom-navbar .custom-btn-primary:active:focus,
.custom-navbar .custom-btn-primary:active:hover {
    background-color: #C2101E;
    border-color: #C2101E;
}

.custom-navbar .navbar-nav>li{
    margin: 0;
}

.custom-navbar .navbar-nav li a.nav-link{
    color: #555555;
	font-size: 14px;
	padding: 15px;
}

.custom-navbar .navbar-nav a.nav-link:hover{
    color: #000;
}

.custom-navbar .navbar-nav li.active>a.nav-link{
    color: #FF3956;
	font-weight: 700;
	border-bottom: 1px solid #FF3956;
}

.custom-navbar .navbar-nav li.active:hover>a.nav-link{
    background-color: #e7e7e7;
}

.custom-dropdown-menu li a:hover {
    background-color: #FFE7EA
}

.custom-navbar a.btn-icon{
    padding: 5px 10px 4px;
    color: #777;
    border: 1px solid #ddd;
    background-color: transparent;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 15px;
    font-size: 12px;
}

.custom-navbar .btn-icon:hover {
	color: #000000;
	background-color: #bfbfbf;
}

.custom-navbar .navbar-nav li:last-of-type{
    margin-top: 7px;
}

#carousel-featured{
    background-color: #F7F8F3;
    height: 400px;
    padding-top: 25px;
}

#carousel-featured .carousel-item img{
    height: 375px;
}

#carousel-featured .product-details {
    border: 1px solid #DDDDDB;
    padding: 20px;
    position: relative;
    top: 50px;
    height: 200px;
    background-color: #F7F8F3;
}

#carousel-featured .product-details .product-category {
    border: 1px solid #DDDDDB;
    padding: 10px;
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #F7F8F3;
}

#carousel-featured .product-details h1 {
    font-weight: 700;
    font-size: 175%;
    margin-top: 18px;
}

#carousel-featured .product-details .custom-btn-primary {
    color: #F8AD47;
    border-color: #F8AD47;
    background-color: transparent;
    padding: 9px 25px;
    margin-top: 15px;
    font-size: 18px;
	border-radius: 2px;
}


#carousel-featured .product-details .sale.large span{
    font-size: 14px;
}

.custom-carousel-indicators-primary{
    top: 235px;
	right: 39.5%;
}

.custom-carousel-indicators-primary img{
    height: 75px;
    width: 75px;
    border: 2px solid #DDDDDB;
    background-color: #fff;
    margin-right: 3px;
}

.custom-carousel-indicators-primary img.active {
	border-color: #F8AD47;
}

#carousel-featured .carousel-control-prev, 
#carousel-featured .carousel-control-next {
    background: 0 0;
	color: #868686;
	text-shadow: none;
	font-size: 20px;
}

.custom-carousel-control.carousel-control-prev>i {
    position: absolute;
	right: 25%;
}

.custom-carousel-control.carousel-control-next>i {
    position: absolute;
	left: 25%;
}

.carousel-row{
    /* margin:0; */
}

.carousel-row>.col-12{
    padding: 0;
}

/*قسم مميزات المتجر*/

#store-features{
    box-shadow: 0 0 15px #EEF0EA;
    position: relative;
    top: -30px;
    background-image: url(../images/bg_features.png);
    background-repeat: no-repeat;
    background-size: auto 60%;
    background-position: -10px -20px;
    background-color: #fff;
    padding-bottom: 35px;
	padding-top: 5px;
}

#store-features .feature>img {
    height: 40px;
    margin-bottom: 10px;
}

#store-features .feature+.feature {
    border-right: 1px solid #EEF0EA;
}

h3.custom-heading {
    font-size: 24px;
	margin: 20px 0 25px;
}

/*الأكثر مبيعا*/

.custom-thumbnail {
    border: 2px solid #EEF0EA;
    padding: 8px;
    cursor: pointer;
    margin-bottom: 20px;
}

.custom-thumbnail:hover {
    border-color: #53CCD7;
}

.custom-thumbnail h4 {
    font-size: 18px;
	padding-top: 10px;
}

.custom-thumbnail .card-body {
    padding: 9px;
}

.custom-thumbnail .price {
    padding-top: 10px;
}

.price {
	color: #53CCD7;
}

.rating {
    color: #C2C2C2;
}

.rating .active {
    color: #f3af41;
}

.overlay {
    position: absolute;
    background-color: rgba(83, 204, 215, .5);
    height: 250px;
    width: calc(100% - 16px);
    display: flex;
	justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all .3s ease;
}

.overlay:hover{
    opacity: 1;
}

.custom-thumbnail .sale {
    padding: 5px 10px;
    position: absolute;
    left: 16px;
    top: 14px;
    direction: ltr;
}

.custom-thumbnail .sale::before {
    content: '-';
}

.custom-carousel-indicators {
    position: static;
	width: 100%;
    text-align: center;
    margin: 0;
}

.custom-carousel-indicators>li,
.custom-carousel-indicators>li.active {
    height: 13px;
    width: 13px;
    margin: 2px;
    display: inline-block;
    background-color: #dbdbdb;
}

.custom-carousel-indicators>li.active {
    background-color: #565656;
}

.custom-thumbnail img {
    height: 250px;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
	display: block;
}

/*الماركات العالمية*/

.custom-panel {
    border: 4px solid #EEF0EA;
    border-radius: 2px;
    box-shadow: none;
    padding: 20px;
}

.custom-panel .product-image {
    width: 100%;
    margin-bottom: 8px;
}



.custom-panel h4,
.custom-panel .price {
    font-size: 130%;
	margin-top: 0;
	margin-bottom: 15px;
}

.custom-text-muted {
    color: #A9A9A9;
}

.custom-arrow-btn {
    background-color: #fff;
    color: #868686;
    border: 1px solid #EBEBEB;
	box-shadow: none;
    border-radius: 2px;
    padding: 5px 10px;
    font-size: 12px;
}

.brand-products {
	margin-bottom: 20px;
}

.brand-text {
    display: inline-block;
}

.brand-products .brand-nav {
	margin-top: 14px;
}

#row-brands h3.custom-heading {
	border-top: 1px solid #EEF0EA;
	padding-top: 25px
}

/*تذييل الصفحة*/

#brand-logos {
    background-color: #dbeefa;
	padding: 25px 0;
	width: 100%;
	color: #555555;
}

#brand-logos img {
    margin-left: 25px;
	margin-right: 25px;
	max-height: 100px;
	max-width: 100px;
}

#footer-nav {
    width: 100%;
    background-color: #1f1e1e;
    padding: 50px 0 40px;
    background-image: url(../images/bg_footer_1.png), url(../images/bg_footer_2.png);
	background-repeat: no-repeat, no-repeat;
	background-position: 110% 0, -10% -150%
}

#footer-nav-links {
    margin: 30px 0;
}

#footer-nav-links a {
    color: #555555;
    margin-left: 30px;
    font-weight: bold;
}

#footer-nav-links a:hover {
    text-decoration: none;
	color: #A9A9A9;
}

#footer-nav #newsletter {
	border-top: 1px solid #292929;
}

#footer-nav form {
	max-width: 260px;
	margin: 0 auto;
}

#footer-nav form label {
	margin: 27px 0 16px;
	font-size: 12px;
	font-weight: bold;
}



#newsletter form input {
    background-color: #313131;
    opacity: .6;
    border: none;
}

#newsletter form button{
    border-radius: 0px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	font-size: 14px;
	padding: 6px 12px 5px;
	color: inherit;
}

#footer-copyright-social {
    background-color: #151515;
    color: #303030;
    padding-top: 30px;
	padding-bottom: 30px;
	font-weight: 700;
	width: 100%;
}

#footer-copyright-social a {
    color: #303030;
    margin-left: 5px;
	margin-right: 5px
}

/**************************************************************
****************
Product Page
*****************
**************************************************************/
/*عناصر التنقل الفرعية*/
.custom-breadcrumb {
    background-color: transparent;
    padding: 25px 0;
}

.custom-breadcrumb a {
	color: #555555;
	text-decoration: none;
}

.custom-breadcrumb a:hover {
	color: #F8AD47;
}

.custom-breadcrumb>li+li:before {
	content: '>';
	color: #555555;
	padding: 0 5px;
}

.custom-breadcrumb .active {
	color: #bfbfbf;
}

/*صورة المنتج*/
#carousel-product-images .carousel-indicators {
	position: relative;
    top: -35px;
    right: auto;
}

#carousel-product-images .carousel-item img {
	border: 1px solid #EBEBEB;
	width: 100%;
}

/*تفاصيل المنتج*/
.block-100 {
	width: 100%;
	display: block;
}

.product-category {
	color: #A9A9A9;
}

#form-product-selection h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 18px 0 18px;
}

.price.large {
    font-size: 30px;
	margin-top: 20px;
}

.borders-between>*+* {
    border-top: 1px solid #EBEBEB;
    padding-top: 15px;
	padding-bottom: 15px;
}

.product-description {
	margin: 0px 0 10px;
}

.product-option {
    display: inline-block;
    height: 23px;
	width: 23px;
    border: 1px solid #EBEBEB;
    text-align: center;
    line-height: 23px;
    color: #C2C2C2;
	margin: 3px 3px 9px 3px;
}

.product-option input {
    display: none;
}

.product-option label {
    font-weight: 700;
    display: inline-block;
	height: 100%;
	width: 100%;
}

.product-option.active {
    color: #F8AD47;
	border-color: #F8AD47;
}

.color-option.active {
    border-color: #fff;
	outline: #000 solid 1px;
}

.product-quantity select {
    width: 56px;
    height: 34px !important;
    padding: 6px 12px;
    margin-right: 3px;
}

.product-quantity .label {
	padding-top: 10px;
}

.product-quantity {
	padding-bottom: 20px;
}

.btn-primary.custom-btn-with-icon {
    min-width: 250px;
	padding: 13px 16px 14px;
	font-size: 18px;
}

/*وصف المنتج*/
.heading-with-border-bottom {
    border-bottom: 2px solid #EBEBEB;
	padding-bottom: 15px;
}

.heading-inline {
    display: inline-block;
	min-width: 250px;
}

.more-description p, 
.more-description ul {
	margin-bottom: 10px;
}

/*التعليقات على المنتج*/

.comments .media {
    margin: 15px;
}

.comments .media:first-child {
	margin-top: 0px;
}

.comments .media img {
    width: 80px;
    height: 80px;
    margin-left: 10px;
	border: 1px solid #dfdfdf;
}

.comments .media .media-heading {
    font-size: 18px;
	margin-bottom: 5px;
}

.suggestions .custom-thumbnail {
	margin-right: -8px;
	margin-left: -8px;
}

/**************************************************************
****************
CHECKOUT PAGE
*****************
**************************************************************/
h1.custom-heading {
	font-size: 36px;
	margin: 25px 0;
}

.custom-table .custom-media .media-object {
    width: 80px;
    height: 80px;
    border: 1px solid #EBEBEB;
	margin-left: 10px;
}



.custom-table .custom-media h4 {
	font-size: 18px;
	margin: 12px 0;
}

.custom-table .quantity {
    width: 56px;
    height: 34px !important;
    padding: 0px 8px;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.custom-table .custom-media {
    margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
}


#form-checkout button[type=submit] {
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 18px;
}

.custom-table .total-price * {
	color: #000;
}

.custom-table .total-price .custom-text-muted .custom-text-muted{
    color: #A9A9A9;
}
/**************************************************************
****************
PAYMENT PAGE
*****************
**************************************************************/
.custom-input-lg {
    border-width: 2px;
	border-radius: 3px;
	height: 46px !important;
	padding: 0px 16px;
	font-size: 18px;
}

.custom-form-control:focus {
    border-color: #b86d07;
	box-shadow: 0 0 2px 0 #b86d07;
}

/**************************************************************
****************
SEARCH PAGE
*****************
**************************************************************/
#form-advanced-search {
    border: 1px solid #EBEBEB;
    padding-bottom: 20px;
    margin-bottom: 35px;
    display: table;
}

#form-advanced-search .custom-panel {
    border: none;
	padding: 5px;
}

.custom-panel .card-header {
    background-color: transparent;
    margin-bottom: 15px;
    padding: 7px 10px 13px;
}

.custom-list-group>.list-group-item {
    border: none;
    padding: 0 10px 14px 0;
}

.custom-list-group>.list-group-item:last-child {
    padding: 0 10px 0px 0;
}

.custom-list-group {
	border-bottom: 1px solid #EBEBEB;
}

#form-advanced-search input[type=checkbox]+label {
	cursor: pointer;
	font-weight: bold;
}



#form-advanced-search button {
	font-size: 18px;
	padding: 9px 0;
}

.custom-pagination li a {
    border: 1px solid #EBEBEB;
    width: 32px;
	height: 32px;
    line-height: 32px;
    margin-right: 3px;
    margin-left: 3px;
    color: #C2C2C2;
    display: inline-block;
    text-align: center;
    transition: all 0.3s ease;
}

.custom-pagination li.active a {
    background-color: #F8AD47;
	color: #fff;
	border-color: #F8AD47;
}

.custom-pagination li a:active, 
.custom-pagination li a:focus, 
.custom-pagination li a:hover {
	color: #AB7731;
	border-color: #AB7731;
}

.custom-pagination {
    margin: 25px 0;
}

#search-results .custom-thumbnail {
	margin-right: -8px;
	margin-left: -8px;
}

#search-results h3.heading-with-border-bottom {
    margin-top: 0;
}
/**************************************************************
****************
CONTACT PAGE
*****************
**************************************************************/
#map {
    padding: 0;
}

#contact-options h4 {
    font-size: 18px;
    padding-bottom: 12px;
}

#contact-options .heading-with-border-bottom {
    margin-bottom: 30px;
}

#contact-info {
	margin-bottom: 25px;
}

#contact-info i {
    color: #f3af41;
    font-size: 18px;
    margin: 10px;
	width: 25px;
	text-align: center;
}

#contact-options textarea {
	height: 128px !important;
}

#contact-options {
	margin-bottom: 25px;
}


/**************************************************************
****************
MEDIA QUERY
*****************
**************************************************************/

@media (max-width:1199px) {
    .custom-navbar .navbar-nav li a.nav-link {
        padding: 8px;
    }
}

@media (max-width:991px) {
    .custom-navbar {
		padding: 0.5rem 0px 30px;
    }
    
    .custom-navbar .container {
		max-width: 100%;
    }
    
    .navbar-header {
		display: block;
        width: 100%;
        margin: 11px 15px 23px 5px;
    }
    .navbar-header .custom-btn {
        float: left;
    }

    .form-inline {
        width: 100%;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		padding: 10px 0;
    }

    .form-inline .dropdown {
        display: none;
    }

    .form-inline .custom-form-control {
        width: 86%;
        margin-right: 2%;
    }

    .form-inline .custom-btn-primary {
        width: 10%;
    }

    .custom-navbar a.btn-icon, 
    .custom-navbar button.btn-icon {
        padding: 10px;
        margin-right: 5px;
        margin-top: 4px;
        margin-left: 10px;
    }

    .navbar-header .btn-icon i {
        font-size: 19px;
    }

    .custom-navbar .navbar-nav li a.nav-link {
        padding: 10px 15px;
    }

    .custom-navbar ul.navbar-nav li:last-child a.nav-link {
		padding-bottom: 2px;
    }
    
    .navbar-collapse {
        border-top: 1px solid #eee;
        margin-top: 15px;
		padding-top: 8px;
    }

    #carousel-featured .custom-carousel-indicators-primary {
		right: 28%;
    }
    
    .overlay {
		display: none;
    }
    
    .custom-thumbnail .add-to-cart-btn {
        color: #868686;
        font-weight: normal;
    }

    #copyright, #social-icons {
		width: 100%;
		text-align: center;
    }
    
    #social-icons {
		font-size: 150%;
		margin-top: 10px;
    }
    
    /*product page*/
	.product-option {
		width: 40px;
		height: 40px;
		margin: 10px;
		line-height: 40px;
		font-size: 20px;
    }
    
    /*checkout page*/
	#form-checkout, .table-title {
		padding-left: 15px;
		padding-right: 15px;
    }
    
    /*search page*/
    .custom-list-group {
		border-bottom: 0px solid #EBEBEB;
    }
    
    #search-pagination {
        text-align: center;
    }

    .custom-pagination {
        display: inline-flex;
    }

    /*contact page*/
	#form-subscription {
		margin-bottom: 40px;
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	.custom-thumbnail img {
		height: 200px;
	}
}

@media (max-width: 767px) {
    #carousel-featured, #carousel-featured .product-details {
		height: auto;
    }
    
    #carousel-featured .product-details {
		position: static;
		text-align: center;
    }
    
    #carousel-featured {
		padding-bottom: 25px;
    }
    
    #carousel-featured .carousel-item img {
		height: 250px;
    }
    
    #brand-logos img {
        max-height: 50px;
		max-width: 50px;
		margin: 5px 24px 5px 23px;
    }

    #footer-nav .footer-logo {
		margin-bottom: 30px;
    }
    
    #footer-nav form {
		max-width: 100%;
		width: 100%;
    }
    
    #newsletter form .input-group {
		width: 100%;
    }
    
    /*checkout page*/
	.hide-on-small {
		display: none;
	}
}

@media (max-width:575px) {
    .form-inline .custom-form-control {
        width: 76%;
        margin-right: 2%;
    }

    .form-inline .custom-btn-primary {
        width: 20%;
    }

    #carousel-featured .carousel-item {
		padding: 0px 18px;
    }
    
    #footer #brand-logos .img-container img {
		margin: 5px 15px;
    }

    /*product page*/
	#form-product-selection, .comments {
		padding-left: 15px;
		padding-right: 15px;
	}
    
    /*checkout page*/
	#form-checkout {
		padding-left: 0px;
		padding-right: 0px;
	}
}