@import './_variables';

.ui-slider {
    margin: 25px 0 35px;
    height: 2px;
    background: #c5c5c5;

    .ui-slider-handle {
        background-color: $brand-primary;
        border: none;
        border-radius: 50%;
        height: 12px;
        width: 12px;
        top: -6px;
    }

    .ui-slider-range {
        border: 1px solid $brand-primary;
        top: -1px;
    }
}

//الشاشات الأصغر حجما
@media (max-width:991px) {
    .ui-slider .ui-slider-handle {
        height: 20px;
        width: 20px;
        top: -10px;
    }
}
